/* Global */
.i2b {
    display: block;
}

.b2i {
    display: inline;
}

.arimo {
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


/* header styles */

.header {
    display: flex;
    height: 4rem;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    background-color: #FFF;
    align-self: stretch;
}

.head-icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.2rem;

}

.text-head {
    color: #0F172B;
    font-family: Arimo;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.inverted {
    filter: invert(100%);
}

.icon-container {
    display: flex;
    width: 2rem;
    height: 2rem;
    padding: .3rem;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0;
    border-radius: 10px;
    margin-right: 8px;
    background: #155DFC;
}

.icon-1 {
    height: 2rem;
    flex-shrink: 0;
    align-self: stretch;
}

/* nav styles */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-item {
    list-style: none;
    color: #314158;
    text-align: center;
    font-family: Arimo;
    font-size: 16px;
    line-height: 24px;
}

/* button styles */

.btn-1 {
    display: flex;
    margin-left: 26px;
    margin-right: 20px;
    width: 122.434px;
    height: 44.006px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    border: none;
    background: #155DFC;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    font-size: 14px;
    line-height: 24px;
}

.btn-1:hover {
    display: flex;
    margin-left: 26px;
    margin-right: 20px;
    width: 122.434px;
    height: 44.006px;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 10px;
    border: none;
    background: #155DFC;
    color: rgba(255, 255, 255, 1.2);
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    box-shadow: 3px 3px 3px rgba(128, 128, 128, 0.6);
}

.home-1-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.btn-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7.992px;
    border-radius: 10px;
    border: none;
    height: 3.4rem;
    width: 12.2rem;
    background: #155DFC;
}

.btn-2:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7.992px;
    border-radius: 10px;
    border: none;
    height: 3.4rem;
    width: 12.2rem;
    background: #155DFC;
    box-shadow: 2.5px 2.5px 5px rgba(128, 128, 128, 0.6);
}

.btn-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7.992px;
    border: 2px solid #155DFC;
    height: 3.5rem;
    background-color: #FFF;
    width: 12.2rem;
    border-radius: 10px;
    height: 3.4rem;
    margin-left: .8rem;
}

.btn-3:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7.992px;
    border: 2px solid #155DFC;
    height: 3.5rem;
    background-color: #FFF;
    width: 12.2rem;
    border-radius: 10px;
    height: 3.4rem;
    margin-left: .8rem;
    box-shadow: 2.5px 2.5px 5px rgba(128, 128, 128, 0.6);
}


a {
    text-decoration: none;
}

.btn-text-3 {
    color: #155DFC;
    text-align: center;
    font-family: Arimo;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.btn-text-2 {
    color: #FFF;
    text-align: center;
    font-family: Arimo;
    font-size: 18px;
    line-height: 28px;
}

/* home-1 styles */

.home-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
    gap: 2rem;
    background: linear-gradient(180deg, #EFF6FF 0%, #FFF 100%);
}

.home-1-header {
    color: #0F172B;
    text-align: center;
    font-family: Arimo;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    padding: 0px 132px;

}

.home-1-text {
    color: #45556C;
    text-align: center;
    font-family: Arimo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    padding: 0px 78.5px;
    margin-bottom: 2rem;
}

/* home-2 styles */

.home-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 2rem;
}

.home-2-header {
    color: #0F172B;
    text-align: center;
    font-family: Arimo;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}

.home-2-text {
    color: #45556C;
    text-align: center;
    font-family: Arimo;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.home-2-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}

.home-2-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 1rem;
}

.home-2-img {
    border-radius: 50%;
    background: #DBEAFE;
    display: flex;
    height: 2rem;
    width: 2rem;
    padding: 1rem 1rem;
    ;
    justify-content: center;
    align-items: center;
}

.home-2-card-head {
    color: #0F172B;
    text-align: center;
    font-family: Arimo;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
}

.home-2-card-text {
    color: #45556C;
    text-align: center;
    font-family: Arimo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 242px;
}


/* home-3 styles */

.home-3 {
    display: flex;
    justify-content: center;
    gap: 10rem;
    align-items: flex-start;
    background: #F8FAFC;
    padding: 3rem 2rem;
}


.home-3-card {
    display: flex;
    align-items: center;
}

.home-3-head {
    color: #0F172B;
    font-family: Arimo;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    text-align: center;
}

.home-3-card-img {
    display: flex;
    width: 1.8rem;
    height: 1.8rem;
    padding: 0.8rem;
    margin-right: 0.8rem;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 10px;
    background: #155DFC;
}

.home-3-card-des {
    color: #45556C;
    font-family: Arimo;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}

.home-3-card-head {
    color: #0F172B;
    font-family: Arimo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.home-3-card-f {
    display: flex;
    height: 6rem;
    align-items: center;
    flex-shrink: 0;
    align-self: stretch;
    gap: 0.6rem;
}

.home-3-r {
    margin-top: 1.9rem;
    display: inline-block;
}

.home-3-icon {
    width: 20px;
    height: 20px;
    display: block;
}

/* Home 4 styles */

.home-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 24px;
    gap: none;
}

.home-4-head {
    color: #0F172B;
    text-align: center;
    font-family: Arimo;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
}

.home-4-text {
    color: #45556C;
    text-align: center;
    font-family: Arimo;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.home-4-container {
    display: flex;
    height: 580.642px;
    justify-content: center;
    align-items: flex-start;
    gap: 31.998px;
    flex-shrink: 0;
    align-self: stretch;
}

.home-4-card {
    width: 265.701px;
    height: 320.642px;
    border-radius: 10px;
    border: 1.818px solid #DBEAFE;
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;

}

.home-4-card:hover {
    width: 265.701px;
    height: 320.642px;
    border-radius: 10px;
    border: 1.818px solid rgb(219, 234, 254);
    background: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: left;
    box-shadow: 5px 5px 5px rgb(219, 234, 254, 0.6);

}

.home-4-card-icon {
    width: 40px;
    height: 40px;
    padding: 25px 0px 0px 25px;
}

.home-4-card-head {
    color: #0F172B;
    font-family: Arimo;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;
    padding: 0px 0px 0px 25px;
}

.home-4-card-text {
    color: #45556C;
    font-family: Arimo;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding: 0px 1.6rem 25px;
}